@model HMS.Models.Roomamenity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Roomamenity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assigneddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assigneddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amenity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amenity.Amenityid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Roomid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Roomamenityid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
