@model IEnumerable<HMS.Models.Roomamenity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assigneddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assigneddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenity.Amenityid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Roomid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Roomamenityid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Roomamenityid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Roomamenityid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
